@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  src: url("../utils/fonts/lato-300.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../utils/fonts/lato-400.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: url("../utils/fonts/lato-700.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../utils/fonts/roboto-300.woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../utils/fonts/roboto-400.woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../utils/fonts/roboto-700.woff2");
}
